<ion-header>
  <ion-toolbar>
    <ion-title>eBuildingFloor2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div id="container">
      <img #image class='img' draggable="false" src="assets/images/eBuildingFloor2.png" alt="E Building Second Floor" usemap="#eBuildingFloor2-map" />
      <map name="eBuildingFloor2-map">
        <area alt="stairCase" id="stairCase" title="stairCase" coords="185,511,185,543,202,543,202,511" shape="poly">
      </map>
      <canvas id="mapCanvas" #canvasEl width=839 height=651></canvas>
    </div>
  </div>
</ion-content>
