<ion-header>
  <ion-toolbar>
    <ion-title> <p id="coords">co-ordinates</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <script></script>
  <style></style>
  <div class="ion-padding">
    <div id="container">
      <img
        id="floor"
        #image
        class="img"
        draggable="false"
        src="assets/images/eBuildingFloor2.png"
        alt="E Building Second Floor"
        usemap="#eBuildingFloor2-map"
        (load)="handleMouseMove();handleMapResize()"
      />

      <map name="eBuildingFloor2-map" id="map_id" #areaMap>
        <area
          alt="stairCaseE"
          id="stairCaseE"
          title="stairCase E"
          (click)="sendStairCaseId($event)"
          coords="179,507,179,544,206,544,206,507"
          shape="poly"
        />
      </map>
      <canvas id="mapCanvas" #canvasEl width="839" height="651"></canvas>
    </div>
  </div>
</ion-content>
