<ion-header>
  <ion-toolbar>
    <div class="center">

    <ion-button
      size="medium"
      color="tertiary"
      slot="end"
      (click)="displayAllOriginPoints()">
      Display Origins &nbsp;
      <ion-icon name="locate"></ion-icon>
    </ion-button>

    <ion-button
      size="medium"
      color="primary"
      slot="end"
      (click)="fromStaircases()">
      Navigate &nbsp;
      <ion-icon name="navigate"></ion-icon>
    </ion-button>

  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <script></script>
  <style></style>
  <div class="ion-padding">
    <div id="container">
      <img
        id="floor"
        #image
        class="img"
        draggable="false"
        src="assets/images/eBuildingFloor2.png"
        alt="E Building Second Floor"
        usemap="#eBuildingFloor2-map"
      />

      <map name="eBuildingFloor2-map" id="map_id" #areaMap>
        <area
          alt="entrance"
          id="entrance"
          title="entrance"
          (click)="sendStairCaseId($event)"
          coords="668,203,720,227,643,272,628,226"
          shape="poly"
        />
        <area
          alt="elevator"
          id="elevator"
          title="elevator"
          (click)="sendStairCaseId($event)"
          coords="529,76,559,112"
          shape="rect"
        />
        <area
          alt="stairCaseA"
          id="stairCaseA"
          title="stairCase A"
          (click)="sendStairCaseId($event)"
          coords="438,63,489,88"
          shape="rect"
        />
        <area
          alt="stairCaseB"
          id="stairCaseB"
          title="stairCase B"
          (click)="sendStairCaseId($event)"
          coords="436,135,488,161"
          shape="rect"
        />
        <area
          alt="stairCaseC"
          id="stairCaseC"
          title="stairCase C"
          (click)="sendStairCaseId($event)"
          coords="153,451,180,451,180,469,181,491,164,491,163,472,153,472"
          shape="poly"
        />
        <area
          alt="stairCaseD"
          id="stairCaseD"
          title="stairCase D"
          (click)="sendStairCaseId($event)"
          coords="179,507,179,544,206,544,206,507"
          shape="poly"
        />
        <area
          alt="stairCaseE"
          id="stairCaseE"
          title="stairCase E"
          (click)="sendStairCaseId($event)"
          coords="689,447,694,467,676,468,661,468,658,447,671,447,646,362,665,361"
          shape="poly"
        />
      </map>
      <canvas id="mapCanvas" #canvasEl width="839" height="651"></canvas>
    </div>
  </div>
</ion-content>
