body {
    text-align: center;
    background: #f2f6f8;
}

.img {
    position: absolute;
    z-index: 1;
}

#container {
    display: inline-block;
    width: 578px;
    height: 438px;
    margin: 0 auto;
    background: black;
    position: relative;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333
}

#mapCanvas {
    position: relative;
    z-index: -1;
}