
<div id="container">
    <img #image class='img' draggable="false" src="assets/images/campusmap.png" alt="exterior campus map" usemap="#image-map" />
        <!-- for loop to generate image mapping based on coordinates saved in the database -->
        <map name="image-map">
            <area *ngFor="let element of NavigationData" id={{element._id}} [matMenuTriggerFor]="menu" (click)="drawOriginMarker()" href="#" coords={{element.coords}} shape="rect">
        </map>
        <canvas id="mapCanvas" #canvasEl width=578 height=438>
    </canvas>
</div>

<mat-menu #menu="matMenu">
    <button (click)="drawDestinationMarker()" id="cBuildingBtn" mat-menu-item>Building C</button>
    <button (click)="drawDestinationMarker()" id="dBuildingBtn" mat-menu-item>Building D</button>
    <button (click)="drawDestinationMarker()" id="eBuildingBtn" mat-menu-item>Building E</button>
</mat-menu>