<ion-header>
  <ion-toolbar>
    <ion-title> D Building</ion-title>

    <ion-button
      size="medium"
      color="primary"
      slot="end"
      (click)="fromStaircases()"
      >List of Origins</ion-button
    >

    <ion-button
      size="medium"
      color="tertiary"
      slot="end"
      (click)="displayAllOriginPoints()"
    >
      Display all Origins &nbsp;
      <ion-icon name="locate"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <script></script>
  <style></style>
  <div class="ion-padding">
    <div id="container">
      <img
        id="floor"
        #image
        class="img"
        draggable="false"
        src="assets/images/dBuildingFloor2.png"
        alt="D Building Second Floor"
        usemap="#dBuildingFloor2-map"
        (load)="handleMapResize()"
      />
      <map name="dBuildingFloor2-map" id="map_id" #areaMap>
        <area
          alt="stairCaseD"
          id="stairCaseD"
          title="stairCase D"
          (click)="sendStairCaseId($event)"
          coords="35,552,36,583,67,583,67,551"
          shape="poly"
        />
        <area
          alt="stairCaseD_b"
          id="stairCaseD_b"
          title="stairCase D_b"
          (click)="sendStairCaseId($event)"
          coords="370,140,372,175,408,176,409,140"
          shape="poly"
        />
        <area
          alt="stairCaseD_c"
          id="stairCaseD_c"
          title="stairCaseD_c"
          (click)="sendStairCaseId($event)"
          coords="402,468,436,467,437,502,402,502"
          shape="poly"
        />
        <area
          alt="stairCaseD_d"
          id="stairCaseD_d"
          title="stairCaseD_d"
          (click)="sendStairCaseId($event)"
          coords="735,217,764,216,764,242,736,243"
          shape="poly"
        />
        <area
          alt="elevator_a"
          id="elevator_a"
          title="elevator_a"
          (click)="sendStairCaseId($event)"
          coords="365,463,365,485,389,485,388,462"
          shape="poly"
        />
      </map>
      <canvas id="mapCanvas" #canvasEl width="839" height="651"></canvas>
    </div>
  </div>
</ion-content>
