<ion-header>
  <ion-toolbar>
    <ion-title>
      GBC Navigation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div>{{geoLoc}}</div>
    <div id="container">
      <img #image class='img' draggable="false" src="assets/images/campusmap.png" alt="exterior campus map" usemap="#image-map" />
          <map name="image-map" (click)="buildingsPicker()">
              <area alt="parkingA" id="parkingA" title="parking A" (click)="sendParkingId($event)" coords="272,279,394,304" shape="rect">
              <area alt="parkingB" id="parkingB" title="parking B" (click)="sendParkingId($event)" coords="328,174,295,151" shape="rect">
              <area alt="parkingC" id="parkingC" title="parking C" (click)="sendParkingId($event)" coords="130,141,143,180" shape="rect">
              <area alt="parkingD" id="parkingD" title="parking D" (click)="sendParkingId($event)" coords="155,258,198,287" shape="rect">
              <area alt="parkingF" id="parkingF" title="parking F" (click)="sendParkingId($event)" coords="294,188,329,212" shape="rect">
          </map>
          <canvas id="mapCanvas" #canvasEl width=578 height=438></canvas>
    </div>
  </div>
</ion-content>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.7.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>