<ion-header>
  <ion-toolbar>
    <ion-title>
      GBC Navigation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div id="container">
      <img #image class='img' draggable="false" src="assets/images/campusmap.png" alt="exterior campus map" usemap="#image-map" />
  </div>
  </div>

  <ion-item>
    <ion-label>Buildings: </ion-label>
    <ion-label color="primary">{{ building }}</ion-label>
    <ion-button slot="end" fill="clear" (click)="buildingsPicker()">Select</ion-button>
  </ion-item>
</ion-content>
